@use '../abstracts/variables' as vars; 

body {
    background-color: vars.$color-light; 
    color: vars.$color-text; 
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open .fixed-top {
    padding-right: 0 !important;
}

main {
  a {
    // Включаем подчеркивание только для ссылок в главном контенте
    text-decoration: underline;

    // Делаем линию тоньше
    text-decoration-thickness: .5px; 
    
    // Опускаем линию ниже
    text-underline-offset: 3px;

    color: vars.$color-primary;

  }

  a:hover {
      color: vars.$color-accent;
  }
}

.btn-success {
    background-color: #4a897a;
}

.btn-success:hover {
    background-color: #24866f;
}

.btn-secondary {
    background-color: #f0f2f3;
    border: 1px solid #ccc;
    color: vars.$color-text;
}

.btn-secondary:hover {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    color: vars.$color-text;
}

.btn-danger {
    background-color: #cc7c7c;
    border: 1px solid #cc7c7c;
}

.btn-danger:hover {
    background-color: #c55353;
    border: 1px solid #c55353;
}

@font-face {
    font-family: 'Philosopher'; // Единое имя для всех начертаний
    src: url('../fonts/philosopher/philosopher-regular.ttf') format('truetype');
    font-weight: 400; // Regular
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/philosopher-bold.ttf') format('truetype');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/philosopher-italic.ttf') format('truetype');
    font-weight: 400; // Italic (Regular)
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/philosopher-bolditalic.ttf') format('truetype');
    font-weight: 700; // Bold Italic
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora'; 
    src: url('../fonts/lora/Lora-VariableFont_wght.ttf') format('truetype-variations'); 
    
    // Определяем доступный диапазон весов (wght)
    font-weight: 400 700; 
    
    // Определяем, что это прямое начертание
    font-style: normal;
    font-display: swap;
}