@use '../abstracts/variables' as vars; 

body {
    background-color: vars.$color-light; 
    color: vars.$color-text; 
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open .fixed-top {
    padding-right: 0 !important;
}

main {
  a {
    // Включаем подчеркивание только для ссылок в главном контенте
    text-decoration: underline;

    // Делаем линию тоньше
    text-decoration-thickness: .5px; 
    
    // Опускаем линию ниже
    text-underline-offset: 3px;

    color: vars.$color-primary;

  }

  a:hover {
      color: vars.$color-accent;
  }
}

@font-face {
    font-family: 'Philosopher'; // Единое имя для всех начертаний
    src: url('/assets/fonts/philosopher/philosopher-regular.ttf') format('truetype');
    font-weight: 400; // Regular
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher/philosopher-bold.ttf') format('truetype');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher/philosopher-italic.ttf') format('truetype');
    font-weight: 400; // Italic (Regular)
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher/philosopher-bolditalic.ttf') format('truetype');
    font-weight: 700; // Bold Italic
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Palladio'; // Единое имя для всех начертаний
    src: url('/assets/fonts/palladio/p052-roman.ttf') format('truetype');
    font-weight: 400; // Roman (Regular)
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('/assets/fonts/palladio/p052-bold.ttf') format('truetype');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('/assets/fonts/palladio/p052-italic.ttf') format('truetype');
    font-weight: 400; // Italic (Regular)
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('/assets/fonts/palladio/p052-bolditalic.ttf') format('truetype');
    font-weight: 700; // Bold Italic
    font-style: italic;
    font-display: swap;
}