@use '../abstracts/variables' as vars; 

body {
    background-color: vars.$color-light; 
    color: vars.$color-text; 
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-open .fixed-top {
    padding-right: 0 !important;
}

main {
  a {
    // Включаем подчеркивание только для ссылок в главном контенте
    text-decoration: underline;

    // Делаем линию тоньше
    text-decoration-thickness: .5px; 
    
    // Опускаем линию ниже
    text-underline-offset: 3px;

    color: vars.$color-primary;

  }

  a:hover {
      color: vars.$color-accent;
  }
}

@font-face {
    font-family: 'Philosopher'; // Единое имя для всех начертаний
    src: url('../fonts/philosopher/Philosopher-Regular.ttf') format('truetype');
    font-weight: 400; // Regular
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/Philosopher-Bold.ttf') format('truetype');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/Philosopher-Italic.ttf') format('truetype');
    font-weight: 400; // Italic (Regular)
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/philosopher/Philosopher-BoldItalic.ttf') format('truetype');
    font-weight: 700; // Bold Italic
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Palladio'; // Единое имя для всех начертаний
    src: url('../../fonts/palladio/P052-Roman.ttf') format('truetype');
    font-weight: 400; // Roman (Regular)
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('../../fonts/palladio/P052-Bold.ttf') format('truetype');
    font-weight: 700; // Bold
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('../../fonts/palladio/P052-Italic.ttf') format('truetype');
    font-weight: 400; // Italic (Regular)
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Palladio';
    src: url('../../fonts/palladio/P052-BoldItalic.ttf') format('truetype');
    font-weight: 700; // Bold Italic
    font-style: italic;
    font-display: swap;
}