body {
    font-family: 'Lora', serif;
    font-weight: 400;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Lora', serif;
    font-weight: 400;
}