// Цветовая палитра
$color-primary:    #917A5A !default;  // основной (логотип, кнопки)
$color-accent:     #863315 !default;  // акцент (кнопки, детали)
$color-accent-alt: #B08953 !default;  // основной, но поярче
$color-text:       #282520 !default;  // основной текст
$color-light:   #F5F3F0 !default;  // фон всего сайта
$color-light-alt:     #F0EDE8 !default;  // альтернативный светлый фон
$color-white:      #FFFFFF !default;  // фон для секций/карточек

