@use '../abstracts/variables' as vars; 

// ==========================================================
// СТИЛИ ХЛЕБНЫХ КРОШЕК (ТЕМНЫЙ ФОН - ДЛЯ HERO)
// ==========================================================
.breadcrumbs-bar {
    position: absolute; 
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 7; 
    border-bottom: 1px solid rgba(vars.$color-white, 0.1); 

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .breadcrumb {
        background: transparent; 
        margin-bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;
        
        .breadcrumb-item + .breadcrumb-item::before {
            content: none; 
        }
        
        .breadcrumb-item {
            font-size: 0.9rem;
            padding-right: 0 !important; 
            display: flex; 
            align-items: center;
            
            &, a {
                color: rgba(vars.$color-white, 0.5); 
                text-decoration: none;
                transition: color 0.3s;
            }
            a:hover {
                color: vars.$color-white;
            }
            
            &.active {
                color: rgba(vars.$color-white, 0.8); /* Сделал активный текст чуть ярче */
            }

            i.bx-chevron-right {
                font-size: 1rem;
                color: rgba(vars.$color-white, 0.4);
                margin: 0 5px; /* Добавил margin для центрирования */
                padding-bottom: 2px;
            }
            
            &:last-child i.bx-chevron-right {
                display: none;
            }
        }
    }
}

// ==========================================================
// МОДИФИКАТОР: СВЕТЛЫЙ ФОН (ДЛЯ СТРАНИЦ ЗАПИСЕЙ)
// ==========================================================
.breadcrumbs-bar--light {
    position: relative; /* Не нужно абсолютного позиционирования на обычных страницах */
    top: 0; /* Снимаем смещение */
    margin-top: 80px;
    z-index: 5;
    background-color: vars.$color-light; // Или очень светлый фон
    border-bottom-color: rgba(vars.$color-text, 0.1); /* Светлый серый бордер */

    .breadcrumb {

        .breadcrumb-item {
            &, a {
                color: rgba(vars.$color-text, 0.8); /* Темный текст */
            }
            a:hover {
                color: vars.$color-primary;
            }
            
            &.active {
                color: rgba(vars.$color-text, 0.6); /* Активный темный текст */
            }

            i.bx-chevron-right {
                color: rgba(vars.$color-text, 0.6); /* Темный разделитель */
            }
        }
    }
}